{% extends "django_registration/base.html" %}

{% block content %}
  <div class="container mt-5">
    <p>You have successfully subscribed!</p>
    <p><a href="{% url "subscriptions-home" %}">Return to the dashboard</a></p>
  </div>
{% endblock %}
